{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["ie >= 9"] }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-amd",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-classes",
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
  ]
}
