@import './partials/fonts';

body {
  font-size: 15px;
  color: black;
  background: #ddd;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: red;
}

p {
  color: white;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}
