@import './partials/fonts';

html {
  &.no-fouc {
    visibility: hidden;
  }
}

body {
  color: black;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  background: #ddd;
}

a {
  color: red;
}

p {
  color: #333;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
}

.white * {
  color: #fff;
}
